# User Testing Report

User testing was conducted by Robert Freeman on October 22 between the times of 8:00 am and 9:00 am with the following participants:

- Seita Goto
- Lianne Hebert
- Earaj Inam

## Tasks

1. Navigate to traits
2. Check out gene news
3. Visit a source link

---

## Individual Results & Observations

### Seita Goto

- He found the nav bar quickly and found news
- He found the sub nav quickly but clicked the header first and then the link
- He didn't have any questions.
- He didn't immediately find the source in the footer until clicking the article link.

### Lianne Hebert

- She easily found the nav bar and navigated to the traits section
- She clicked the heading instead of the link but clicked the link after
- She found the article source quickly after opening the article
- Navigations seemed to work well.

### Earaj Inam

- He took some time to find the news sub menu on the traits page
- He found the top navigation quickly, but then navigated away quickly.
- He asked if I would change he position of the nav bars and the size of the bottom bar.
- He found the links quickly but suggested I move the navigation bar to the left to be more intuitive.
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Nav bars need tweaking
- Links need to be more apparent
- Text and headers need more heirarchy

### Serious, Causes Frustration, May Hinder Completion

- navigating the the sub nav, and new discoveries, not as apparent as top nav
- etc.

### Minor, Annoying, Won’t Hinder Completion

- Text hierarchy
- Nav position