<!DOCTYPE html>
<html lang="en-ca">
<head>
        <meta charset="utf-8">
        <title>Facebook Open Graph</title>
        <meta property="og:type" content="article">
        <meta property="og:title" content="Title of this page">
        <meta property="og:url" content="URL of this page">
        <meta property="og:image" content="URL to an image representing this article">
        <meta property="og:site_name" content="Name of your website">
        <meta property="og:description" content="Description of this page">
</head>
<body>

</body>
</html>