

<link href="{{site.baseurl}}/css/style.css" rel="stylesheet">

	<div class="navbar navbar-fixed-top">

		<div class="navbar-inner">
			<ul class="nav">
				<li><a href="{{site.baseurl}}/" class="{% if page.url == '/index.html' %}current{% endif %}" rel="home">Home</a></li>
				<li><a href="{{site.baseurl}}/traits.html" class="{% if page.url contains 'traits' or page.url contains 'new-discoveries' %}current{% endif %}">Traits</a></li>
				<li><a href="{{site.baseurl}}/life.html" class="{% if page.url == '/life.html' %}current{% endif %}">Life</a></li>		
				<li><a href="{{site.baseurl}}/genomics.html" class="{% if page.url == '/genomics.html' %}current{% endif %}">Genomics</a></li>			
			</ul>
		</div>
	</div>