<html>
	<head>
		<meta charset="UTF-8">
		<title>Genetics! - Tour Genetics and learn more about you!</title>
		<link href="css/general.css" rel="stylesheet" type="text/css">
		<meta name="handheldfriendly" content="true">
		<meta name="mobileoptimised" content="240">
		<meta name="viewport" content="width=device-width,initial-scale=1,target-densitydpi=device-dpi">
<body>
{{content}}
<nav>
	<a href="{{site.baseurl}}/">Home</a>
	<a href="{{site.baseurl}}/carnivores/">Carnivores</a>
</nav>
</body>
	
	
</html>

