<html>
	<head>
		<meta charset="UTF-8">
		<title>Genetics! - Tour Genetics and learn more about you!</title>
		<link href="css/general.css" rel="stylesheet">
		<meta name="handheldfriendly" content="true">
		<meta name="mobileoptimised" content="240">
		<meta name="viewport" content="width=device-width,initial-scale=1,target-densitydpi=device-dpi">
		<!-- 
		Home page title
		1. Name of website
		2.small descriotion
		3. city, country if applicable
		-->
		<meta name="description" content="Genes make us who we are; Take a tour of genetics and learn how important they are when trying to understand who we are!">
	</head>

<!-- the meta description may show up as the search result description if google deems it worthy, every age should have a unique meta description.
if the description isnt good enough google will choose one for you -->

<body>

	<header class="masthead clearfix">
		<p class="titlecontent">Genetics</p>
			<nav class="nav nav-top" data-state="collapsed">
				<ul>
					<li><a href="{{site.baseurl}}/index.html">Home</a></li>
					<li><a href="{{site.baseurl}}/traits.html">Traits</a></li>
					<li><a href="{{site.baseurl}}/life.html">Life</a></li>			
				</ul>
			</nav>
	</header>



{{content}}

	<footer>
		<p class="top-link"><a href="#top">Top</a></p>
	</footer>
</body>	
</html>

